BTC_INITIAL_CAPITAL=btc-initial-capital
TAO_INITIAL_CAPITAL=tao-initial-capital

BTC_SHORT_WINDOW=btc-short-window
BTC_LONG_WINDOW=btc-long-window

TAO_SHORT_WINDOW=tao-short-window
TAO_LONG_WINDOW=tao-long-window

TELEGRAM_BOT_TOKEN=telegram-bot-token
TELEGRAM_CHAT_ID=telegram-chat-ids-joined-with-comma

LOW_WINDOW=low-window-for-3ma
MID_WINDOW=mid-window-for-3ma
HIGH_WINDOW=long-window-for-3ma

OWNER_ID=bot-owner-chat-id